.parent {
  display: grid;
  grid-template-areas: 
  'P0 P0 P1 P1 P1'
  'P0 P0 P1 P1 P1'
  'P2 P2 P3 P3 P3';
  grid-auto-rows: 100px;
  grid-template-columns: repeat(5, 1fr);
  grid-column-gap: 5px;
  grid-row-gap: 5px;
}

.parent > div {
  width: 100%;
  height: 100%;
}

.parent > div:nth-child(1) { grid-area: P0; }
.parent > div:nth-child(2) { grid-area: P1; }
.parent > div:nth-child(3) { grid-area: P2; }
.parent > div:nth-child(4) { grid-area: P3; }